* {
	font-family:	Lato, "Helvetica Neue", helvetica, sans-serif;
	font-size:	1.0em;
	font-weight:	300;
	list-style:	none;
	padding:	0;
	border:	0;
	margin:	0;
	text-decoration:	none;
}

html {
	background:	lightgrey;
	background-image: url("../img/Clouds.jpg");
}

article {
	position:	relative;
	width:	70%;
	margin:	30px auto;
	top:	50px;

}

h1 {
	font-size:	3em;
	margin-bottom:	20px;
	color:	white;
}

h2 {
	font-size:	2em;
	margin-bottom:	20px;
	color:	white;
}

p {
	margin-bottom:	20px;

}

.text {
	display:	inline-block;

}
/* Top navigation panel */

#nav_top {
	position: fixed;
	top:	0;
	left:	0;
	right:	0;
	height:	30px;
	background:	black;
	overflow:	hidden;
	opacity:	0.8;
	z-index:	1;
}

#nav_main {
	position: absolute;
	top:	0;
	left:	30px;
}

#nav_options {
	display:	inline-block;
	color:	white;
	position:	relative;
	line-height:	30px;
	height:	30px;
	font-size:	15px;
	transition:	ease;
	transition-duration:	0.3s;
}

#nav_options:hover a {
	background:	white;
	color:	blue;
	cursor:	pointer;
}

#nav_left {
	position:	fixed;
	left:	-300px;
	top:	30px;
	bottom:	30px;
	height:	auto;
	padding:	30px;
	background:	white;
	border-style:	solid;
	border-color:	black;
	border-right-width:	0px;
	width:	0;
	color:	transparent;
	transition:	ease;
	transition-duration:	0.3s;

}

#nav_options:hover #nav_left {
	border-right-width:	20px;
	left:	0;
	color:	blue;
	width:	300px;
	display:	block;

}

#nav_left li {
	width:	100%;
	padding:	0px 10px 0px 10px;
	box-sizing:	border-box;
	border-radius:	5px;
	border-width:	1px;
	border-style:	solid;
	border-color:	white;
	background:	white;
}

#nav_left li:hover {
	cursor:	pointer;
	border-color:	blue;
}

#nav_left h2 {
	font-size:	2em;
	margin-bottom:	30px;
}

#nav_main li {
	float:	left;
	height:	30px;
}

#nav_search li {
	float:	right;
	height: 30px;
}

nav li a {
	display:	inline-block;
	color:	white;
	position:	relative;
	padding-left:	15px;
	padding-right:	15px;
	line-height:	30px;
	height:	30px;
	font-size:	15px;
	transition:	ease;
	transition-duration:	0.3s;
}

nav li a:hover {
	color:	blue;
	background:	white;
	cursor:	pointer;
}

/* Status menu */

#status_menu {
	display:	block;
	position:	absolute;
	height:	50%;
	width:	50%;
	top:	25%;
	left:	25%;
	background:	black;
	border-radius:	30px;
	padding:	50px;
	opacity:	0.8;
	box-sizing: border-box;
}

#status_left {
	position:	relative;
	float:	left;
	height:	80%;
	position:	relative;
	width:	50%;
}

#status_right {
	top:	10%;
	float:	right;
	height:	80%;
	width:	50%;
}

#status_top {
	position:	relative;
	float:	top;
	height:	20%;
}

#placeholder {
	position:	relative;
	background-image: url("../img/bart.jpeg");
	height:	70%;
	width:	70%;
	left:	5%;
	top:	15%;
	background:	grey;
	border-radius:	10px;
}

#placeholder:hover {
	background:	white;
}

/* Quests Menu */
#quests_menu {
	display:	none;
	top:	15%;
	height:	70%;
	width:	30%;
	left:	35%;
	background:	black;
	opacity:	0.8;
	box-sizing:	border-box;
	position:	absolute;
	border-radius:	50px;
	padding:	50px;
}

#quests_menu li {
	margin-bottom:	10px;
	color:	white;
	padding:	10px;
	box-sizing:	border-box;
}

#quests_menu li:hover {
	color:	blue;
	background:	white;
	cursor:	pointer;
}

#quests_menu li a {
	font-size:	2em;
	margin-bottom:	10px;
}

/* Quests Grid */

#quests_grid {
	display:	none;
	top:	15%;
	height:	70%;
	width:	40%;
	left:	30%;
	background:	black;
	opacity:	0.8;
	box-sizing:	border-box;
	position:	absolute;
	border-radius:	50px;
	padding:	50px;
}

#quests_grid h1 {
	height: 20%;
}

table {
	width:	100%;
	height:	80%;
}

tbody {
	width:	100%;
	height;	100%;
}

.grid_element {
	width:	90%;
	height:	90%;
	background:	grey;
	border-color:	red;
	border-radius:	10px;
	box-sizing:	border-box;
	margin:	5px;
}

#grid_4_4 {
	background:	red;
}

.locked {
	background:	darkblue;
}

.unlocked {
	background:	grey;
}

.grid_element:hover {
	background:	white;
	cursor:	pointer;
}

/* Game */
#question_box {
	display:	none;
	top:	15%;
	height:	70%;
	width:	30%;
	left:	35%;
	background:	black;
	opacity:	0.8;
	box-sizing:	border-box;
	position:	absolute;
	border-radius:	50px;
	padding:	50px;
	color:	white;
	text-align:	center;
}

#timer {
	font-size:	5em;
	margin-bottom:	20px;
	text-align:	center;
	width:	100%;
}

#question_box form {
	margin-top:	50px;
	width:	100%;
	height:	50px;
}

#question_box form input {
	width:	100%;
	text-align:	center;
	font-size:	2em;
	border-radius:	5px;
}

#equation {
	font-size:	2em;
}

#question {
	font-size:	2em;
}

#player {
	display:	none;
	left:	10%;
	top:	30%;
	height:	30%;
	width:	20%;
	background:	black;
	opacity:	0.8;
	box-sizing:	border-box;
	position:	absolute;
	border-radius:	50px;
	padding:	20px;
}

#enemy {
	display:	none;
	left:	70%;
	top:	30%;
	height:	30%;
	width:	20%;
	background:	black;
	opacity:	0.8;
	box-sizing:	border-box;
	position:	absolute;
	border-radius:	50px;
	padding:	20px;
}

.hp_background {
	width:	100%;
	border-radius:	5px;
	margin-top:	10px;
	height:	15px;
	background:	red;
}

.hp_foreground {
	width:	0%;
	height:	100%;
	border-radius:	5px;
	background:	green;
	float:	left;
}
