<!doctype html>
<html>
	<meta charset="utf-8">
	<title>EduQuest</title>
	<link rel = "stylesheet"
	   type = "text/css"
	   href = "{{url_for('static',filename='css/stylesheet.css')}}" />
	<script type="text/javascript" src="{{url_for('static',filename='js/jquery-3.3.1.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static',filename='js/main.js')}}"></script>

	<nav id="nav_top">
		<section id="nav_main">
			<ul>
				<li>Class A</li>
				<li>Class B</li>
			</ul>
		</section>
	</nav>

	<body>
			<div>
				<h1>Quests</h1>
				<ul>
					<li id="lin"><a>David</a></li>
					<li id="fin"><a>John</a></li>
					<li id="ind"><a>Greg</a></li>
					<li id="add"><a>Amy</a></li>
				</ul>
			</div>





</html>
