<!DOCTYPE html>
<html>
<meta charset="utf-8">
<title>EduQuest</title>
<link rel = "stylesheet"
   type = "text/css"
   href = "{{url_for('static',filename='css/stylesheet.css')}}" />
<script type="text/javascript" src="{{url_for('static',filename='js/jquery-3.3.1.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='js/main.js')}}"></script>

<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {margin:0;}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

.main {
  padding: 16px;
  margin-top: 30px;
  height: 1500px; /* Used in this example to enable scrolling */
}
</style>
</head>
<body>

<div class="navbar">
  <a href="#home">Class A</a>
  <a href="#news">Class B</a>
  <a href="#contact">Class C</a>
</div>

<div class="main">
  <h1>David</h1>
  <h2>Financial Maths</h2>
  <p>Simple Interest A: Completed</p>
  <p>Simple Interest B: Completed</p>
  <p>Simple Interest C: Completed</p>
  <p>Compound Interest A: Completed</p>
  <p>Compound Interest B: Incomplete</p>
  <p>Compound Interest C: Incomplete</p>
  <p>Home Loan A: Completed</p>
  <p>Home Loan B: Completed</p>
  <p>Home Loan C: Completed</p>
  <p>Investment A: Completed</p>
  <p>Investment B: Completed</p>
  <p>Investment C: Incomplete</p>

  <h2>Indices</h2>
  <p>Addition A: Completed</p>
  <p>Addition B: Completed</p>
  <p>Addition C: Completed</p>
  <p>Subtraction A: Completed</p>
  <p>Subtraction B: Incomplete</p>
  <p>Subtraction C: Incomplete</p>
  <p>Multiplication A: Completed</p>
  <p>Multiplication B: Completed</p>
  <p>Multiplication C: Completed</p>
  <p>Division A: Completed</p>
  <p>Division B: Completed</p>
  <p>Division C: Incomplete</p>

  <h2>Basic Arithmetics</h2>
  <p>Addition A: Completed</p>
  <p>Addition B: Completed</p>
  <p>Addition C: Completed</p>
  <p>Subtraction A: Completed</p>
  <p>Subtraction B: Incomplete</p>
  <p>Subtraction C: Incomplete</p>
  <p>Multiplication A: Completed</p>
  <p>Multiplication B: Completed</p>
  <p>Multiplication C: Completed</p>
  <p>Division A: Completed</p>
  <p>Division B: Completed</p>
  <p>Division C: Incomplete</p>

</div>

</body>
</html>
