<!DOCTYPE html>
<html>
<meta charset="utf-8">
<title>EduQuest</title>
<link rel = "stylesheet"
   type = "text/css"
   href = "{{url_for('static',filename='css/stylesheet.css')}}" />
<script type="text/javascript" src="{{url_for('static',filename='js/jquery-3.3.1.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='js/main.js')}}"></script>

<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {margin:0;}
h2{
        color: black;
        font-weight:bold;
}
p{
        color: black;
        font-size:7;
}
.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

.main {
  padding: 16px;
  margin-top: 30px;
  height: 1500px; /* Used in this example to enable scrolling */
}
</style>
</head>
<body>

<div class="navbar">
  <a href="#home">Class A</a>
  <a href="#news">Class B</a>
  <a href="#contact">Class C</a>
</div>

<div class="main">
  <h1>Bart</h1>
  <h2>Financial Maths (Completed: 12/15)</h2>
  <p>Simple Interest A: <span style="color: #00FF00"><span style="color: #00FF00">Completed</span></span>; Simple Interest B: <span style="color: #00FF00"><span style="color: #00FF00">Completed</span></span>; Simple Interest C: <span style="color: #00FF00"><span style="color: #00FF00">Completed</span></span></p>
  <p>Compound Interest A: <span style="color: #00FF00"><span style="color: #00FF00">Completed</span></span>; Compound Interest B: <span style="color: red">Incomplete</span>; Compound Interest C: <span style="color: red">Incomplete</span></p>
  <p>Home Loan A: <span style="color: #00FF00"><span style="color: #00FF00">Completed</span></span>; Home Loan B: <span style="color: #00FF00"><span style="color: #00FF00">Completed</span></span>; Home Loan C: <span style="color: #00FF00"><span style="color: #00FF00">Completed</span></span></p>
  <p>Investment A: <span style="color: #00FF00"><span style="color: #00FF00">Completed</span></span>; Investment B: <span style="color: #00FF00"><span style="color: #00FF00">Completed</span></span>; Investment C: <span style="color: red">Incomplete</span></p>

  <h2>Indices (Completed: 10/15)</h2>
  <p>Addition A: <span style="color: #00FF00"><span style="color: #00FF00">Completed</span></span>; Addition B: <span style="color: #00FF00"><span style="color: #00FF00">Completed</span></span>; Addition C: <span style="color: #00FF00"><span style="color: #00FF00">Completed</span></span></p>
  <p>Subtraction A: <span style="color: #00FF00"><span style="color: #00FF00">Completed</span></span>; Subtraction B: <span style="color: red">Incomplete</span>; Subtraction C: <span style="color: red">Incomplete</span></p>
  <p>Multiplication A: <span style="color: #00FF00"><span style="color: #00FF00">Completed</span></span>; Multiplication B: <span style="color: #00FF00"><span style="color: #00FF00">Completed</span></span>; Multiplication C: <span style="color: #00FF00"><span style="color: #00FF00">Completed</span></span></p>
  <p>Division A: <span style="color: #00FF00"><span style="color: #00FF00">Completed</span></span>; Division B: <span style="color: #00FF00"><span style="color: #00FF00">Completed</span></span>; Division C: <span style="color: red">Incomplete</span></p>

  <h2>Basic Arithmetics  (Completed: 12/15)</h2>
  <p>Addition A: <span style="color: #00FF00"><span style="color: #00FF00">Completed</span></span>; Addition B: <span style="color: #00FF00"><span style="color: #00FF00">Completed</span></span>; Addition C: <span style="color: #00FF00"><span style="color: #00FF00">Completed</span></span></p>
  <p>Subtraction A: <span style="color: #00FF00"><span style="color: #00FF00">Completed</span></span>; Subtraction B: <span style="color: red">Incomplete</span>; Subtraction C: <span style="color: red">Incomplete</span></p>
  <p>Multiplication A: <span style="color: #00FF00"><span style="color: #00FF00">Completed</span></span>; Multiplication B: <span style="color: #00FF00"><span style="color: #00FF00">Completed</span></span>;  Multiplication C: <span style="color: #00FF00"><span style="color: #00FF00">Completed</span></span></p>
  <p>Division A: <span style="color: #00FF00"><span style="color: #00FF00">Completed</span></span>; Division B: <span style="color: #00FF00"><span style="color: #00FF00">Completed</span></span>; Division C: <span style="color: red">Incomplete</span></p>

  <h1>Eric</h1>
  <h2>Financial Maths (Completed: 12/15)</h2>
  <p>Simple Interest A: <span style="color: #00FF00"><span style="color: #00FF00">Completed</span></span>; Simple Interest B: <span style="color: #00FF00">Completed</span>; Simple Interest C: <span style="color: #00FF00">Completed</span></p>
  <p>Compound Interest A: <span style="color: #00FF00">Completed</span>; Compound Interest B: <span style="color: red">Incomplete</span>; Compound Interest C: <span style="color: red">Incomplete</span></p>
  <p>Home Loan A: <span style="color: #00FF00">Completed</span>; Home Loan B: <span style="color: #00FF00">Completed</span>; Home Loan C: <span style="color: #00FF00">Completed</span></p>
  <p>Investment A: <span style="color: #00FF00">Completed</span>; Investment B: <span style="color: #00FF00">Completed</span>; Investment C: <span style="color: red">Incomplete</span></p>

  <h2>Indices Completed: 10/15)</h2>
  <p>Addition A: <span style="color: #00FF00">Completed</span>; Addition B: <span style="color: #00FF00">Completed</span>; Addition C: <span style="color: #00FF00">Completed</span></p>
  <p>Subtraction A: <span style="color: #00FF00">Completed</span>; Subtraction B: <span style="color: red">Incomplete</span>; Subtraction C: <span style="color: red">Incomplete</span></p>
  <p>Multiplication A: <span style="color: #00FF00">Completed</span>; Multiplication B: <span style="color: #00FF00">Completed</span>; Multiplication C: <span style="color: #00FF00">Completed</span></p>
  <p>Division A: <span style="color: #00FF00">Completed</span>; Division B: <span style="color: #00FF00">Completed</span>; Division C: <span style="color: red">Incomplete</span></p>

  <h2>Basic Arithmetics  Completed: 8/15)</h2>
  <p>Addition A: <span style="color: #00FF00">Completed</span>; Addition B: <span style="color: #00FF00">Completed</span>; Addition C: <span style="color: #00FF00">Completed</span></p>
  <p>Subtraction A: <span style="color: #00FF00">Completed</span>; Subtraction B: <span style="color: red">Incomplete</span>; Subtraction C: <span style="color: red">Incomplete</span></p>
  <p>Multiplication A: <span style="color: #00FF00">Completed</span>; Multiplication B: <span style="color: #00FF00">Completed</span>;  Multiplication C: <span style="color: #00FF00">Completed</span></p>
  <p>Division A: <span style="color: #00FF00">Completed</span>; Division B: <span style="color: #00FF00">Completed</span>; Division C: <span style="color: red">Incomplete</span></p>

  <h1>Greg</h1>
  <h2>Financial Maths (Completed: 13/15)</h2>
  <p>Simple Interest A: <span style="color: #00FF00">Completed</span>; Simple Interest B: <span style="color: #00FF00">Completed</span>; Simple Interest C: <span style="color: #00FF00">Completed</span></p>
  <p>Compound Interest A: <span style="color: #00FF00">Completed</span>; Compound Interest B: <span style="color: red">Incomplete</span>; Compound Interest C: <span style="color: red">Incomplete</span></p>
  <p>Home Loan A: <span style="color: #00FF00">Completed</span>; Home Loan B: <span style="color: #00FF00">Completed</span>; Home Loan C: <span style="color: #00FF00">Completed</span></p>
  <p>Investment A: <span style="color: #00FF00">Completed</span>; Investment B: <span style="color: #00FF00">Completed</span>; Investment C: <span style="color: red">Incomplete</span></p>

  <h2>Indices Completed: 9/15)</h2>
  <p>Addition A: <span style="color: #00FF00">Completed</span>; Addition B: <span style="color: #00FF00">Completed</span>; Addition C: <span style="color: #00FF00">Completed</span></p>
  <p>Subtraction A: <span style="color: #00FF00">Completed</span>; Subtraction B: <span style="color: red">Incomplete</span>; Subtraction C: <span style="color: red">Incomplete</span></p>
  <p>Multiplication A: <span style="color: #00FF00">Completed</span>; Multiplication B: <span style="color: #00FF00">Completed</span>; Multiplication C: <span style="color: #00FF00">Completed</span></p>
  <p>Division A: <span style="color: #00FF00">Completed</span>; Division B: <span style="color: #00FF00">Completed</span>; Division C: <span style="color: red">Incomplete</span></p>

  <h2>Basic Arithmetics  Completed: 11/15)</h2>
  <p>Addition A: <span style="color: #00FF00">Completed</span>; Addition B: <span style="color: #00FF00">Completed</span>; Addition C: <span style="color: #00FF00">Completed</span></p>
  <p>Subtraction A: <span style="color: #00FF00">Completed</span>; Subtraction B: <span style="color: red">Incomplete</span>; Subtraction C: <span style="color: red">Incomplete</span></p>
  <p>Multiplication A: <span style="color: #00FF00">Completed</span>; Multiplication B: <span style="color: #00FF00">Completed</span>;  Multiplication C: <span style="color: #00FF00">Completed</span></p>
  <p>Division A: <span style="color: #00FF00">Completed</span>; Division B: <span style="color: #00FF00">Completed</span>; Division C: <span style="color: red">Incomplete</span></p>

</div>

</body>
</html>
